.header-block-repair {
    padding: 16px;
}
.link-container__off-mobile {
    display: none;
}

.link-container-brand__parameters {
    padding: 0 16px;
}
.link-container-brand__image {

}

.link-container-brand__link {

}
