@import url("font.css");
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    .body--out-mobile {
        display: block;
    }
    .body--out-desktop {
    display: block;
    }
    .body--in-desktop {
        display: none;
    }

    .upper-menu {
        display: flex;
        align-items: center;
        width: 100%;
        height: 88px;
        padding: 18px 16px;
    }

    .logo--margin {
        margin-left: 16px;
        margin-right: auto;
    }
    .upper-menu__chat {
        margin-left: 16px;
    }
    .upper-menu__profile {
        margin-left: 16px;
    }
    .upper-menu__divider {
        margin-left: 16px;
    }
    .repair--position {
        margin-left: 20px;
    }
    .check-status--position {
        margin: 0 16px;
    }

    .main {
        background-color: #F8F8F8;
        margin: 0;
        padding: 0;
    }
    .title-services {
        width: 304px;
        font-family: "TT Lakes Bold", sans-serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title-services__highlight {
        width: 4px;
    }
    .title-services__title {
        width: 288px;
    }

    .list-menu {
        display: flex;
        justify-content: space-between;
        overflow: scroll;
        font-family: "TT Lakes Medium", sans-serif;
        font-size: 16px;
        color: #7E7E82;
        list-style: none;
    }
    .list-menu__elem {
        padding-left: 16px;
        margin-bottom: 22px;
    }

    .list-menu__item-link {
        display: block;
        width: max-content;
        padding: 8px 22px;
        text-decoration: none;
        color: #7E7E82;

    }
    .list-menu__item {
        border: 2px solid rgba(0,0,0,0);
    }
    .list-menu__item--active {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        color: #1B1C21;
    }
    .about {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-family: "TT Lakes Regular", sans-serif;
        font-size: 14px;
        color: #1B1C21;
        margin: 0;
    }
    .about__article {
        display: flex;
        flex-direction: column;
    }
    .about__text {
        width: 100%;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 0;
        margin: 0;

    }
    .read-more {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0;
        padding-bottom: 16px;
        font-family: "TT Lakes Medium", sans-serif;
    }
    .read-more__arrow {
        margin-left: 24px;
    }
    .read-more__text {
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
    }
    .about__image-about {
        min-width: 350px;
        width: 100%;
        margin-right: 25px;
        margin-left: 48px;
        margin-bottom: 40px;
    }
